/*

 ROOT, HTML, ETC

*/ 
:root {
    --main-one: black;
    --main-two: #FDF9F4;
    --main-text-fade: rgba(50, 8, 61, 0.7)
}
/*
rgba(52,7,61,1) 25%, rgba(239,116,92,1) 84%)
*/
html, body {

    font-family: "Barlow" !important;
}


body {
    background: #FBDCB4;
    color: var(--main-one)
}



.header {
    background: hsla(141, 81%, 87%, 1);
    background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5F9D7", endColorstr="#F7D486", GradientType=1 );
}

.middle {
    background: hsla(141, 81%, 87%, 1);
    background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(141, 81%, 87%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5F9D7", endColorstr="#ABC9E9", GradientType=1 );
}

.things {
    background: hsla(141, 81%, 87%, 1);
    background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5F9D7", endColorstr="#F5BFD7", GradientType=1 );
}



.button {
    border: 1px solid black; 
    box-shadow: 3px 4px black;
    background: #F5F4E9;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    border: 1px solid black; 
    background: #EBE9D2;
    box-shadow: 1px 1px black;
    transition: translateY(-4px);
}


.link {
    color: black;
    position: relative;
  }
  
  .link::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 5px;
    z-index: 2;
    transition: all .3s ease-in-out;
  }
  
  .link:hover::before {
    bottom: 0;
    height: 100%;
  }
  

/* 

 NAVBAR

*/

#logo-text {
    font-family: "Major Mono Display"; 
    font-weight: 400; 
}

.logo-io {
    font-family: "Major Mono Display";
    font-weight: 400;
}

.navbar-brand p {
    font-family: VT323;
    font-weight: 400;
    font-size: 1.5em;
    color: rgb(52,7,61)
}

.title, .subtitle {
    color: black
}

.navbar {
    background-color: transparent;
    color: #FAFAFA;
}

.navbar-item {
    color: #FAFAFA;
}

/* 

 SERVICES / SKILLS

*/


.service:hover {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
}

.box-about {
    border: 0.25rem solid;
    background: rgba(239, 222, 205, 0.25)
}

.image-skills {
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
    width: 100%
}


.turn-icon {
    transform: rotate(45deg);
    transition: translate 0.5s ease-in-out;
}

.is-thing:hover .turn-icon {
    transition: translate 0.3s ease-in-out;
    transform: translate(5px, -5px) rotate(45deg);
    
}


/* 

 PROJECTS, ETC 

*/

#green {
    background-color: #ace1af
        }
    
#blue {
        background-color:#73c2fb
    }
    
#brown {
        background-color: #e1a95f
    }
    
#beige {
        background-color:#fffaf0
    }
    
#grayish {
        background-color:#e5e4e2
    }
    
#darkblue {
        background-color:#6495ed
    }

.app-container {
    min-height: 250px;
    transition: all 0.4s ease-in-out;
    background: transparent;
    border: 3px solid black;
    position: relative;
    box-shadow: -7px 7px rgba(0, 0, 0, 0.25);
}

.app-container:hover {
    cursor: pointer;
    opacity: 0.5;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
}

.app-container:hover .thing-img {
    filter: blur(0px);
}

/*

 TOOLS

*/


.thing-do {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 225px;
}

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.other-thing {
    border: 3px solid black;
    box-shadow: 3px 4px black;
    height: 400px
}


.other-thing-1 {
    background: #FAC4B4
}

.other-thing-2 {
    background: hsla(40, 94%, 74%, 1);
    background: linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fbd07c", endColorstr="#f7f779", GradientType=1 );
    /*
    background: #FAF4B4
    */
}

.other-thing-3 {
    background: hsla(16, 100%, 76%, 1);
    background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ffa585", endColorstr="#ffeda0", GradientType=1 );
    /*
    background: #E8FAB4
    */
}

.other-thing-4 {
    background: hsla(203, 89%, 71%, 1);
    background: linear-gradient(90deg, hsla(203, 89%, 71%, 1) 0%, hsla(0, 0%, 96%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(203, 89%, 71%, 1) 0%, hsla(0, 0%, 96%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(203, 89%, 71%, 1) 0%, hsla(0, 0%, 96%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#71c3f7", endColorstr="#f6f6f6", GradientType=1 );
/*
    background: #D0FAB4
    */
}

.other-thing-5 {
    background: hsla(0, 0%, 100%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#facefb", GradientType=1 );
}


a {
    text-decoration: none;
    color: black;
}

.other-thing:hover {
    box-shadow: 1px 1px black;
    transform: translateX(4px) translateY(4px);
    cursor: pointer;
    filter: brightness(105%);
}

.app-img {
    border: 3px black solid;
}

.other-thing-image {
    object-fit: contain;
}

.services {

}

.service {
    background: rgba(201, 227, 227, 0.25); 
    /*#C9E3E3;*/
    border: dashed black 3px;
    border-radius: 25px;
}

.logo {
    border-radius: 4px;
}

#service-1 {
    color: #d62828;
}

#service-2 {
    color: #f77f00;
}

#service-3 {
    color: #eae2b7;
}

#service-4 {
    color: #003049;
}

#service-5 {
    color: #ee9b00;
}

/* måske 

https://getcssscan.com/css-box-shadow-examples
box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
*/